ssd {
   num_classes: 3
   image_resizer {
   fixed_shape_resizer {
       height: 320
       width: 320
   }
}
train_config {
  batch_size: 64
  data_augmentation_options {
    random_horizontal_flip {
    }

    random_vertical_flip {
    }

    random_rotation90 {
    }

    random_adjust_brightness {
    }

    random_adjust_contrast {
    }

    random_image_scale {
    }
  }
  }
# Chỉnh sửa đường dẫn tới file fine tune checkpoint
fine_tune_checkpoint: "./ssd_mobile_net_v2/ckpt-47"

# Chỉnh sửa đường dẫn tới file label_map, train.record và test.record
train_input_reader {
label_map_path: "./label_map.pbtxt"
tf_record_input_reader {
  input_path: "./TrainValDataset/train.record"
}
}

eval_input_reader {
label_map_path: "./label_map.pbtxt"
shuffle: false
num_epochs: 1
tf_record_input_reader {
  input_path: "./TrainValDataset/test.record"
}
}